
html, body{

}
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-size: 10px;

}
body{
	
	background-image: url("./img/splash_1080p.jpg");
	font-family: "Segoe UI";
	background-size: cover;
	background-repeat: no-repeat;
    color:#ffffff;
}

header{
	padding:0px;
	margin-top:10px;
	height:50px;
	
}
header h2{
  font-size:2.5rem;
  margin-top: 6px;
  margin-left:60px;
  float:left;/*done so everything inline*/
  font-family: "Segoe UI";
}
nav{
	margin-top:6px;
	padding: 2px;
	float: right;
	margin-right:50px;

}
nav ul{
	 padding: 0px;
	 margin:0px;
	 list-style-type:none; 
}
nav li{
	display: inline-block;
	margin:0px 8px 0px 8px;
	float: left;
}
nav li a{
	color:#ffffff;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.8rem;
	text-transform: uppercase;
}

#showcase{
	
	height:100vh;
	position:relative;

}
#info{
	position:absolute;
	left:50%;
	transform: translateX(-50%);
	top:25%;
}
#info h1{
	font-size: 5rem;
	text-align: center;

}
#info h1 span{
	font-size: 5rem
}
.pc{
  color:#E31B6D;

}
button{
	position: absolute;
	top: 58%;
	left:50%;
	transform: translateX(-50%);/*to properly center*/
}


@media all and (max-width:618px){


   * {
   	  font-size: .5rem;
   	}


   header h2{
   	 float: none;
   	 text-align: center;
   	margin: 0 auto;
   	width:150px;
   	 padding-bottom: 25px;
   	 

   }

   nav {
   	 float: none;
   	 position: absolute;
   	 left:50%;
   	 transform: translateX(-50%);
   	 width: 60%;
  
   }
   
   nav li a{
   	font-size: 2rem;
   }
  
}

@media all and (max-width:536px){




   	nav ul li{
   		/*keeping flot left met tht our items would not commit to the block*/
   		float: none; 
   		display:block;
   		text-align: center;
   		margin: 10px
   	}

}



@media all and (max-width:397px){
       *{
   	  font-size:.4rem;
   	}
}


