*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-size: 10px;

}
body{

	font-family: "Segoe UI";
    color:#ffffff;
	
}
.pc{
  color:#E31B6D;
}

header{
	padding:0px;
	margin-top:10px;
	height:50px;
	


}
header h2{
  font-size:2.5rem;
  margin-top: 6px;
  margin-left:60px;
  float:left;/*done so everything inline*/
  font-family: "Segoe UI";
}
nav{
	margin-top:6px;
	padding: 2px;
	float: right;
	margin-right:50px;
}
nav ul{
	 padding: 0px;
	 margin:0px;
	 list-style-type:none; 
}
nav li{
	display: inline-block;
	margin:0px 8px 0px 8px;
	float: left;
}
nav li a{
	color:#ffffff;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.8rem;
	text-transform: uppercase;
}

#showcase{

	/*bg-img stuff*/
    background-image: url("./img/splash_1080p.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	height:500px;
	max-height: 500px
	position:relative;

}
#info{
	position:absolute;
	left:50%;
	transform: translateX(-50%);
	top:25%;
}
#info h1{
	font-size: 5rem;
	text-align: center;

}
#info h1 span{
	font-size: 5rem
}

button{
	position: absolute;
	top: 58%;
	left:50%;
	transform: translateX(-50%);
}

#about{
	border:1px solid red;
}
